<div class="d-flex flex-column m-1">
  <div class="row p-0 m-0 d-flex align-items-center">
    <div class="col-3-sm p-1">
      <img class="" src="../../../assets/Images/angular.png"
        style="height: 30px; width: 30px;" alt="">
    </div>
    <div class="col-9 d-flex flex-column justify-content-start p-1">
      <span class="fs-12">Angular Jira Clone</span>
      <span class="fs-8">Software Project</span>
    </div>
  </div>
  <div class="m-1">
    <ul class="list-group m-1">
      <li
        class="list-group-item d-flex align-items-center fs-12 p-1 mb-1 border-0 bg-light sidebar-selected"
        [routerLink]="['/']" routerLinkActive="router-link-active"
        style="cursor: pointer;">
        <div style="height: 20px; width: 20px;" class="pl-2">
          <fa-icon [icon]="faMap" class="fa-md text-primary">
          </fa-icon>
        </div>
        <span class="ml-2 pl-2">Kanban Board</span>
      </li>
      <li
        class="list-group-item d-flex align-items-center fs-12 p-1  border-0 bg-light"
        [routerLink]="['settings']" routerLinkActive="router-link-active"
        style="cursor: pointer;">
        <div style="height: 20px; width: 20px;" class="pl-2">
          <fa-icon [icon]="faCog" class="fa-md text-secondary"></fa-icon>
        </div>
        <span class="ml-2 pl-2">Project Settings</span>
      </li>
      <hr style="border:1px solid #e2e2e2; width: 95%;">
      <li
        class="list-group-item d-flex align-items-center fs-12 p-1 mb-1 border-0 bg-light">
        <div style="height: 20px; width: 20px;" class="pl-2">
          <fa-icon [icon]="faMap" class="fa-md text-muted">
          </fa-icon>
        </div>
        <span class="ml-2 pl-2">Releases</span>
      </li>
      <li
        class="list-group-item d-flex align-items-center fs-12 p-1  border-0 bg-light">
        <div style="height: 20px; width: 20px;" class="pl-2">
          <fa-icon [icon]="faCog" class="fa-md text-secondary"></fa-icon>
        </div>
        <span class="ml-2 pl-2">Issues and Filter</span>
      </li>
      <li
        class="list-group-item d-flex align-items-center fs-12 p-1 mb-1 border-0 bg-light">
        <div style="height: 20px; width: 20px;" class="pl-2">
          <fa-icon [icon]="faMap" class="fa-md text-muted">
          </fa-icon>
        </div>
        <span class="ml-2 pl-2">Pages</span>
      </li>
      <li
        class="list-group-item d-flex align-items-center fs-12 p-1  border-0 bg-light">
        <div style="height: 20px; width: 20px;" class="pl-2">
          <fa-icon [icon]="faCog" class="fa-md text-secondary"></fa-icon>
        </div>
        <span class="ml-2 pl-2">Reports</span>
      </li>
      <li
        class="list-group-item d-flex align-items-center fs-12 p-1  border-0 bg-light">
        <div style="height: 20px; width: 20px;" class="pl-2">
          <fa-icon [icon]="faCog" class="fa-md text-secondary"></fa-icon>
        </div>
        <span class="ml-2 pl-2">Components</span>
      </li>
    </ul>
  </div>
  <!-- <div class="m-1">
    <ul class="list-group m-1">

    </ul>
  </div> -->
</div>
