<div class="d-flex flex-column align-items-start" style="min-height: 98%;">
  <div class="d-flex justify-content-center align-items-center" style="height: 50px; width: 50px;">
    <img src="../../../assets/Images/images-removebg-preview.png" height="22" width="22" alt="">
  </div>
  <div class="d-flex justify-content-center align-items-center" style="height: 50px; width: 50px;">
    <fa-icon [icon]="faSearch" class="fa-md text-white"></fa-icon>
  </div>
  <div class="d-flex justify-content-center align-items-center" style="height: 50px; width: 50px;">

    <fa-icon [icon]="faPlus" class="fa-md text-white"></fa-icon>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-auto" style="height: 50px; width: 50px;">
    <img src="../../../assets/Images/images-removebg-preview.png" height="22" width="22" alt="">
  </div>
  <div class="d-flex justify-content-center align-items-center" style="height: 50px; width: 50px;">
    <fa-icon [icon]="faQuestion" class="fa-md text-white"></fa-icon>
  </div>
</div>
